* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}

body {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    background:darkgrey;
}

form>*{
    display:block;
}
